<section
  class="mt-[32px] grid gap-4 animate-fade-up animate-once animate-ease-out"
>
  <p class="leading-6 text-pretty text-primary">
    <strong>Ingeniero Informático</strong> de 10 semestres con proyecto de grado finalizado
    y más de <strong>
      2 años de experiencia en desarrollo web Front-End
    </strong>. Realizó <strong>
      trabajos Freelancer y Proyectos Universitarios
    </strong> con diferentes tecnologías como: <strong>
      HTML, CSS, TailwindCSS, GSAP, JavaScript, TypeScript, Astro, React,
      Angular +17, Strapi 5
    </strong>. Capacidad excelente en <strong> integración de APIs </strong>.
    Con conocimientos en <strong>
      patrones de diseño, arquitecturas, POO, MongoDB, MySQL, Oracle SQL y
      Express.</strong
    >
  </p>
</section>

<style>
  strong {
    color: var(--color-primary-content);
  }
</style>
