---
import { getDescriptionProfile } from "@services/getDescriptionProfile";

const { descriptionProfile } = await getDescriptionProfile();
---

<section class="mt-8 grid gap-4 animate-fade-up animate-once animate-ease-out">
  <p
    class="leading-6 text-base text-pretty text-primary [&>strong]:text-primary-content"
    set:html={descriptionProfile}
  />
</section>
