---
import cv from '/public/CV_JOHAN_MANUEL_ALVAREZ_PINTA.pdf'
---

<section class='mt-10 grid gap-4'>
  <p class='leading-6 text-pretty'>
    Ingeniero informático de últimos semestres con experiencia en desarrollo
    software. Creación de Proyectos Universitarios y de Freelancer utilizando
    los lenguajes de programación como: HTML, CSS, JavaScript y la librería de
    React. Experiencia en la utilización de los siguientes framework: Astro en
    el front-end. Conocimiento en el back-end con Node.js. Conocimiento en todos
    los proyectos que he realizado con los siguientes motores de base de datos:
    MongoDB y Oracle SQL.
  </p>

  <a href={cv} class='btn btn-sm w-14'>CV</a>
</section>
