<section
  class='mt-[32px] grid gap-4 animate-fade-up animate-once animate-ease-out'
>
  <p class='leading-6 text-pretty text-primary'>
    <strong>Ingeniero Informático</strong> de últimos semestres con <strong
      >más de un año de experiencia en desarrollo web Front-End.</strong
    > Realizo trabajos <strong>Freelancer</strong> y Proyectos Universitarios con
    diferentes tecnologías como: <strong
      >HTML, CSS, TailwindCSS, JavaScript, TypeScript, Astro, React, Angular
      +17, Strapi 5.</strong
    > Capacidad excelente en <strong>integración de APIs.</strong> Con conocimientos
    en <strong
      >patrones de diseño, arquitecturas, POO, MongoDB, MySQL, Oracle SQL y
      Express.</strong
    >
  </p>
</section>

<style>
  strong {
    color: var(--color-primary-content);
  }
</style>
