---
import SectionLayout from '@components/general/SectionLayout.astro'
import CardEstudies from '@components/home/CardEstudies.astro'

import type { Estudies } from '@types/Estudies.types'

const estudies: Estudies[] = [
  {
    course: 'Ingeniería Informática',
    institution: 'Institución Universitaria Colegio Mayor Del Cauca',
    location: 'Colombia - Popayán',
    date_start: 'agosto 2021',
    date_end: 'presente',
    description: 'Estudiante de Octavo semestre',
  },
  {
    course: 'Técnico en Desarrollo de Software ',
    institution: 'Institución Educativa Técnico Industrial',
    location: 'Colombia - Popayán',
    date_start: 'febrero 2018',
    date_end: 'diciembre 2020',
    description: 'Graduado del técnico',
  },
]
---

<SectionLayout>
  <span slot='title'>Estudios</span>
  <div class='pl-4 border-l-2 border-base-300 grid gap-4'>
    {estudies.map(estudie => <CardEstudies {...estudie} />)}
  </div>
</SectionLayout>
