---
import SectionLayout from '@components/general/SectionLayout.astro'
---

<SectionLayout
  styles='animate-fade-up animate-once animate-ease-out animate-delay-200'
>
  <div class='flex items-center gap-5'>
    <section
      class='size-40 bg-gradient-to-tl from-transparent to-base-300 flex flex-col items-center justify-center'
    >
      <h2 class='text-8xl font-black'>+1</h2>
      <p class='text-primary font-medium'>Año</p>
    </section>

    <section>
      <h2 class='uppercase text-8xl font-black'>
        Experiencia<span class='pl-4'>...</span>
      </h2>
    </section>
  </div>
</SectionLayout>
