---
import type {
  FeaturedProject,
  FeaturedProjects,
} from "@types/featuredProjects";

import SectionLayout from "@components/general/SectionLayout.astro";
import ButtonLink from "@components/general/ButtonLink.astro";
import CardFeaturedProject from "@components/home/CardFeaturedProject.astro";
import CardFeaturedProjectPremium from "@components/home/CardFeaturedProjectPremium.astro";
import { getAllProjects } from "@services/getAllProjects";

const projects = await getAllProjects();
---

<SectionLayout
  styles="animate-fade-up animate-once animate-ease-out animate-delay-300"
>
  <span slot="title">Proyectos Destacados</span>
  <div slot="stuff">
    <ButtonLink url="/products" text="Ver mas" />
  </div>

  <main>
    <section class="grid gap-5">
      {
        projects.map(
          ({
            name,
            projects,
          }: {
            name: string;
            projects: FeaturedProject[];
          }) => (
            <div>
              {name === "Freelancer" && (
              <h3 class="text-lg font-medium mb-2 text-primary">{name}</h3>

                <div class="grid md:grid-cols-2 gap-2">
                  {projects.map((project) => (
                    <CardFeaturedProjectPremium {...project} />
                  ))}
                </div>
              )}
            </div>
          ),
        )
      }

      {
        projects.map(
          ({
            name,
            projects,
          }: {
            name: string;
            projects: FeaturedProject[];
          }) => (
            <div>
              {name !== "Freelancer" &&
              (
                <h3 class="text-lg font-medium mb-2 text-primary">{name}</h3>

                <div class="grid md:grid-cols-2 gap-2">
                  {projects.map((project) => (
                    <CardFeaturedProject {...project} />
                  ))}
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
  </main>
</SectionLayout>
