---
import type { FeaturedProject } from 'src/types/featuredProjects.types'

import AstroIcon from '@assets/icons/AstroIcon.astro'
import ReactIcon from '@assets/icons/ReactIcon.astro'

import SectionLayout from '@components/general/SectionLayout.astro'
import ButtonLink from '@components/general/ButtonLink.astro'
import CardFeaturedProject from '@components/home/CardFeaturedProject.astro'

const featuredProjects: FeaturedProject[] = [
  {
    title: 'now-technology',
    description: '✨ Servicios de reparación para producto tecnológicos',
    github: 'https://github.com/igrisdev/newtechnology2.0.git',
    url: 'https://newtechnology.vercel.app/',
    icon_technology: AstroIcon,
    url_technology: 'https://astro.build/',
    tags: ['React', 'TailwindCSS', 'Airtable'],
    logo: 'https://c02.purpledshub.com/uploads/sites/48/2021/03/potw1804a-4976fcc.jpg?w=1029&webp=1',
  },
  {
    title: 'App-clima',
    description: '⛅ Consulta estadísticas del clima tu zona y el clima global',
    github: 'https://github.com/igrisdev/WEATHER-APP-MASTER-TJIGRIS.git',
    url: 'https://gleeful-salmiakki-5ff1cd.netlify.app/',
    icon_technology: ReactIcon,
    url_technology: 'https://es.react.dev/',
    tags: ['TailwindCSS', 'OpenWeather'],
    logo: 'https://c02.purpledshub.com/uploads/sites/48/2021/03/potw1804a-4976fcc.jpg?w=1029&webp=1',
  },
]
---

<SectionLayout
  styles='animate-fade-up animate-once animate-ease-out animate-delay-200'
>
  <span slot='title'>Proyectos</span>
  <div slot='stuff'>
    <ButtonLink url='/products' text='Ver mas' />
  </div>

  <div class='grid md:grid-cols-2 gap-2'>
    {featuredProjects.map(project => <CardFeaturedProject {...project} />)}
  </div>
</SectionLayout>
