---
import Container from '@components/general/Container.astro'
---

<Container
  element='footer'
  className='text-sm flex w-full items-center justify-between animate-fade-up animate-once animate-ease-out animate-delay-700 mb-4'
>
  <div></div>
  <p>❤️ Johan Alvarez - 2024</p>
</Container>
