---
import Container from '@components/general/Container.astro'
---

<Container
  element='footer'
  className='text-sm flex w-full items-center justify-between animate-fade-up animate-once animate-ease-out animate-delay-700 mb-4'
>
  <a href='https://github.com/igrisdev'>❤️ igrisdev</a>

  <p>Johan Alvarez - 2024</p>
</Container>
