---
import Container from '@components/general/Container.astro'

const url = Astro.url.pathname

const isHome = url === '/'
---

<Container
  element='footer'
  className=`mt-6 flex flex-col gap-2 text-sm  w-full items-center text-center justify-center animate-fade-up animate-once animate-ease-out mb-6 ${isHome ? 'animate-delay-1000' : 'animate-delay-300'}`
>
  <div
    class='border-[1px] border-base-300 bg-gradient-to-r from-base-200 to-base-300 p-3 rounded-sm w-full'
  >
    <p class='font-gambarino'>"Si puedes imaginarlo, puedes programarlo"</p>
    <a
      href='https://www.youtube.com/c/Programaci%C3%B3nATS'
      target='_blank'
      rel='noopener noreferrer'
      class='text-primary font-geist block pt-2'
    >
      Alejandro Taboada</a
    >
  </div>

  <div
    class='flex flex-wrap justify-center sm:justify-between w-full pt-4 gap-4 sm:gap-10'
  >
    <a
      href='https://pheralb.dev/'
      target='_blank'
      rel='noopener noreferrer'
      class='text-primary'>Pagina inspirada en pheralb.dev</a
    >

    <a
      href='https://github.com/igrisdev'
      target='_blank'
      rel='noopener noreferrer'
      class='text-primary-content animate-pulse'
    >
      Desarrollada por Johan Alvarez</a
    >
  </div>
</Container>
