<section class='grid gap-4'>
  <header class='flex justify-between items-center'>
    <h2 class='text-xl font-medium'>
      <slot name='title' />
    </h2>

    <slot name='stuff' />
  </header>

  <slot />
</section>
