---
import { ContainerRepositories } from '@components_functional/products/ContainerRepositories'
import { InfoRepositories } from '@components_functional/products/InfoRepositories'

import { getAllRepositories } from '@services/getAllRepositories'

const { repos } = await getAllRepositories()
---

<section
  class='min-h-[73vh] flex flex-col gap-4 animate-fade-up animate-once animate-ease-out animate-delay-200'
>
  <InfoRepositories client:visible />
  <ContainerRepositories client:visible repos={repos} />
</section>
