---
import Container from '@components/general/Container.astro'
import Header from '../components/general/Header.astro'
---

<!doctype html>
<html data-theme='light' lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />

    <Container className='grid gap-12'>
      <slot />
    </Container>
  </body>
</html>

<style>
  @font-face {
    font-family: 'Geist';
    src: url('/public/fonts/Geist.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'GeistMono';
    src: url('/public/fonts/GeistMonoVF.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Gambarino';
    src: url('/public/fonts/Gambarino-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
</style>
